/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* or any font of your choice */
  background-color: #232323; /* Charcoal color */
}

.App {
  text-align: center; /* Center text by default */
  background-color: #232323; /* Charcoal color */
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #2C2C2C; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #4F4F4F; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #7A7A7A; /* Scrollbar thumb color on hover */
}

/* For large desktops and small monitors */
@media (max-width: 1440px) {
  .App {
    width: 95%;
  }
}

/* For small monitors or large tablets */
@media (max-width: 1280px) {
  .App {
    width: 90%;
  }
}

/* For tablets in landscape mode */
@media (max-width: 1024px) {
  .App {
    width: 85%;
  }
}

/* For tablets in portrait mode */
@media (max-width: 900px) {
  .App {
    width: 80%;
  }
}

/* For small tablets or large phones */
@media (max-width: 768px) {
  .App {
    width: 75%;
  }
}

/* For slightly larger phones in landscape */
@media (max-width: 640px) {
  .App {
    width: 90%;
  }
}

