/* animationText.css */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');

.heroSection {
    height: 100vh; /* Full height */
    display: flex;
    align-items: center;
    justify-content: center; /* Center contents */
    background-color: #232323; /* Charcoal color */
}

.container {
    display: grid;
    place-items: center; /* Center content within the container */
}

.wrapper {
    font-family: "Gasoek One", sans-serif;
    font-size: 138px; /* Adjust the size as needed */
    font-style: italic;
    font-weight: 400;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center text horizontally */
    margin-bottom: 20px; /* Space between name and animation */
    color: #E3D9B6; /* Change to Bone White */
    line-height: 0.7; /* Adjust line height to reduce space between lines */
}

.animation {
    margin-right: 45px;
    font-family: 'Fira Code', monospace;
}

/* Optional: Style for each name if you want to adjust them separately */
.dane {
    color: #E3D9B6; /* Change to Bone White */
    margin-right: 65px; /* Move "Dane" to the left */
    letter-spacing: -3px; /* Decreases space between letters */
}

.sorensen {
    color: #BF5700; /* Change to Burnt Orange */
    letter-spacing: -3px; /* Decreases space between letters */
}
