@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

.info-container {
    display: flex;
    justify-content: space-around; /* Evenly distribute space around each item */
    align-items: center;
    padding: 20px;
    background-color: #232323;
    margin-bottom: 30px;
    margin-top: -20px;
    max-width: 1200px; /* Set the max width to center the container within the page */
    margin-left: auto; /* Ensure the container is centered horizontally */
    margin-right: auto; /* Ensure the container is centered horizontally */
    width: 100%; /* Ensure the container takes up the full width */
    transform: translateX(50px); /* Move the container 50px to the right */
}

.info-item {
    font-family: 'Fira Code', monospace;
    text-align: center;
    font-size: 14px;
    color: #E3D9B6;
    width: auto; /* Let the items take their natural width */
}

.email {
    color: #BF5700; /* Change to Burnt Orange */
}

.phone {
    color: #BF5700; /* Change to Burnt Orange */
}

.age {
    color: #BF5700; /* Change to Burnt Orange */
}
