@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

.projects-container {
    padding: 20px;
    background-color: #232323;
    margin-top: 30px;
    max-width: 1200px; /* Set the max width to center the container within the page */
    margin-left: auto; /* Ensure the container is centered horizontally */
    margin-right: auto; /* Ensure the container is centered horizontally */
    width: 100%; /* Ensure the container takes up the full width */
}

.projects-header {
    font-style: italic;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background: linear-gradient(45deg, #BF5700, #E3D9B6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #d0c7c7;
    margin-left: 110px;
}

.projects-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-bottom: 80px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%; /* Adjust width to fit two projects side by side */
    margin-bottom: 40px; /* Space between projects */
}

.slideshow {
    position: relative;
    width: 100%;
    height: 200px; /* Reduce height for better fit */
    overflow: hidden; /* Ensure only one image is visible at a time */
}

.slideshow img {
    position: absolute; /* Position each image on top of each other */
    width: 100%; /* Make images smaller */
    height: 100%; /* Maintain aspect ratio and fill slideshow container */
    top: 50%; /* Center images vertically */
    left: 50%; /* Center images horizontally */
    transform: translate(-40%, -50%); /* Adjust for centering */
    object-fit: cover; /* Ensure images are fully displayed */
    opacity: 0; /* Start with images hidden */
    transition: opacity 1s ease-in-out; /* Smooth fade transition */
}

.slideshow img:nth-child(1) { animation: fade 12s infinite 0s; }
.slideshow img:nth-child(2) { animation: fade 12s infinite 3s; }
.slideshow img:nth-child(3) { animation: fade 12s infinite 6s; }
.slideshow img:nth-child(4) { animation: fade 12s infinite 9s; }

@keyframes fade {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 0; }
}

.project-description {
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
    color: #666;
    width: 100%;
}

.project-description.poker-description {
    margin-left: 40px; /* Adjust this value as needed */
}

.headerText {
    font-style: italic;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background: linear-gradient(45deg, #BF5700, #E3D9B6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.projectText {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    color: #d0c7c7;
    text-align: left;
}

.link-button-container {
    display: flex;
    justify-content: space-between; /* Space between items */
    align-items: center; /* Vertically center items */
    margin-top: 10px; /* Space above the container */
}

.buttonDemo {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
}

/* Media Queries */

/* Mobile devices */
@media (max-width: 600px) {
    .projects-container {
        padding: 15px; /* Reduce padding */
    }

    .projects-header {
        font-size: 22px; /* Decrease header font size */
        margin-left: 20px; /* Adjust margin */
    }

    .projects-content {
        display: grid;
        grid-template-columns: 1fr; /* Create a 1-column grid for phones */
        gap: 20px;
        padding-bottom: 60px;
        justify-items: center;
        align-items: start;
    }

    .project {
        width: 90%; /* Take more width on mobile */
        margin-bottom: 20px; /* Space between projects */
    }

    .project-description {
        font-size: 14px; /* Decrease description font size */
    }
    .project-description.poker-description {
        margin-left: 0; /* Adjust this value as needed */
    }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .projects-container {
        padding: 20px; /* Default padding for tablets */
    }

    .projects-header {
        font-size: 24px; /* Slightly decrease font size */
        margin-left: 70px; /* Adjust margin */
    }

    .projects-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Create a 2-column grid for larger screens */
        gap: 20px;
        padding-bottom: 80px;
        justify-items: center;
        align-items: start;
    }

    .project {
        width: 45%; /* Slightly larger width for projects */
        margin-bottom: 20px; /* Space between projects */
    }

    .project-description {
        font-size: 15px; /* Adjust description font size */
    }
}

/* Laptops and Desktops */
@media (min-width: 1025px) {
    .projects-container {
        padding: 20px; /* Default padding for larger screens */
    }

    .projects-header {
        font-size: 28px; /* Default header font size */
        margin-left: 110px; /* Default margin */
    }

    .projects-content {
        flex-direction: row; /* Default row layout */
        align-items: flex-start; /* Align items at the start */
    }

    .project {
        width: 40%; /* Default width for projects */
    }

    .project-description {
        font-size: 16px; /* Default description font size */
    }
}
  